/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: red;
}

.navbar .logo {
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
  gap: 20px;
}

.navbar .menu a {
  color: red;
  text-decoration: none;
  font-size: 18px;
}

.task-input-section {
  margin: 20px;
}

.task-display-section {
  margin: 20px;
}

.task-square {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
  text-align: center;
  line-height: 100px;
}

.task-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  animation: hoverUpDown 2s ease-in-out infinite;
  position: relative;
}

.task-box.small {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border-radius: 6px;
}

.task-box.medium {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 8px;
}

.task-box.large {
  width: 150px;
  height: 150px;
  background-color: lightcoral;
  border-radius: 10px;
}

.task-box.priority {
    width: 200px;
    height: 200px;
    background-color: rgb(193, 53, 35);
    border-radius: 12px;
  }

.task-box:hover::after {
  content: attr(data-comment);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
}

@keyframes hoverUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes confettiFly {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(calc(var(--target-x) - var(--start-x)), calc(var(--target-y) - var(--start-y)));
        opacity: 0;
    }
}


/* Footer Styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.footer .github-icon {
  color: red;
  font-size: 24px;
  text-decoration: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar .menu {
    flex-direction: column;
    align-items: flex-end;
  }
}
